{
    "presets": ["@babel/preset-react"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/transform-regenerator",
        "@babel/plugin-transform-template-literals"
    ]
}
